*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preto: #000000;
  --azul-apagado: #5d8ea8;
  --vermelho-apagado: #d12748;
  --amarelo-apagado: #efac24;
  --texto-escuro: #000000;
  --texto-claro: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--roxo-claro);
  color: var(--texto-escuro);
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}